.vscode
0001-dataTypes.exe
0001-helloWorld.exe
0003-inOutNumber.exe
0004-ifElseStatement.exe
0005-evenOdd.exe
0006-forLoop.exe
0007-whileLoop.exe
0008-doWhileLoop.exe
0009-jumpsInLoop.exe
0010-jumpInLoop.exe
0011-primeNumber.exe
0012-printPrimeNumber.exe
0013-switchCase.exe
0014-prePostIncreDecre.exe
0015-Patern.exe
0016-patternH.exe
0017-reverceNum.exe










tempCodeRunnerFile.cpp
tempCodeRunnerFile.exe